
Osa 1/anecdotes/.idea/workspace.xml
Osa 1/unicafe/.idea/workspace.xml
Osa 1/kurssitiedot/.idea/workspace.xml
Osa 2/kurssitiedot/.idea/workspace.xml
Osa 2/maiden_tiedot/.idea/workspace.xml
Osa 2/puhelinluettelo/.idea/workspace.xml
Osa 2/kurssitiedot/.idea/vcs.xml
Osa 2/maiden_tiedot/.idea/vcs.xml
Osa 2/puhelinluettelo/.idea/vcs.xml
Osa 3/puhelinluettelo/.idea/workspace.xml
Osa 3/puhelinluettelo/.idea/puhelinluettelo.iml
Osa 3/puhelinluettelo/.idea/modules.xml
Osa 3/puhelinluettelo/.idea/misc.xml
Osa 3/puhelinluettelo/.idea/inspectionProfiles/Project_Default.xml
Osa 3/puhelinluettelo/.idea/vcs.xml
