
Osa 1/anecdotes/.idea/workspace.xml
Osa 1/unicafe/.idea/workspace.xml
Osa 1/kurssitiedot/.idea/workspace.xml
Osa 2/kurssitiedot/.idea/workspace.xml
Osa 2/maiden_tiedot/.idea/workspace.xml
Osa 2/puhelinluettelo/.idea/workspace.xml
Osa 2/kurssitiedot/.idea/vcs.xml
Osa 2/maiden_tiedot/.idea/vcs.xml
Osa 2/puhelinluettelo/.idea/vcs.xml
Osa 3/puhelinluettelo/.idea/workspace.xml
Osa 3/puhelinluettelo/.idea/puhelinluettelo.iml
Osa 3/puhelinluettelo/.idea/modules.xml
Osa 3/puhelinluettelo/.idea/misc.xml
Osa 3/puhelinluettelo/.idea/inspectionProfiles/Project_Default.xml
Osa 3/puhelinluettelo/.idea/vcs.xml
Osa 5/.idea/workspace.xml
Osa 5/.idea/workspace.xml
Osa 5/.idea/inspectionProfiles/Project_Default.xml
Osa 5/.idea/codeStyles/Project.xml
Osa 5/.idea/codeStyles/codeStyleConfig.xml
Osa 5/.idea/workspace.xml
Osa 5/.idea/workspace.xml
Osa 5/.idea/workspace.xml
Osa 5/.idea/workspace.xml
Osa 6/unicafe-redux/.idea/vcs.xml
Osa 5/.idea/workspace.xml
Osa 6/unicafe-redux/.idea/workspace.xml
Osa 6/unicafe-redux/.idea/vcs.xml
Osa 6/unicafe-redux/.idea/vcs.xml
Osa 6/unicafe-redux/.idea/workspace.xml
Osa 6/unicafe-redux/.idea/vcs.xml
Osa 6/unicafe-redux/.idea/vcs.xml
Osa 6/unicafe-redux/.idea/workspace.xml
Osa 6/unicafe-redux/.idea/vcs.xml
Osa 6/unicafe-redux/.idea/vcs.xml
Osa 7/routed-anecdotes/.idea/workspace.xml
Osa 7/routed-anecdotes/.idea/inspectionProfiles/Project_Default.xml
Osa 7/routed-anecdotes/.idea/routed-anecdotes.iml
Osa 7/routed-anecdotes/.idea/vcs.xml
Osa 7/routed-anecdotes/.idea/modules.xml
Osa 7/routed-anecdotes/.idea/misc.xml
Osa 7/BlogList/.idea/codeStyles/codeStyleConfig.xml
Osa 7/BlogList/.idea/codeStyles/Project.xml
Osa 7/BlogList/.idea/inspectionProfiles/Project_Default.xml
Osa 7/BlogList/.idea/misc.xml
Osa 7/BlogList/.idea/modules.xml
Osa 7/BlogList/.idea/vcs.xml
Osa 7/BlogList/.idea/Osa 5.iml
Osa 7/BlogList/.idea/workspace.xml
Osa 6/unicafe-redux/.idea/vcs.xml
