
Osa 1/anecdotes/.idea/workspace.xml
Osa 1/unicafe/.idea/workspace.xml
Osa 1/kurssitiedot/.idea/workspace.xml
Osa 2/kurssitiedot/.idea/workspace.xml
Osa 2/maiden_tiedot/.idea/workspace.xml
Osa 2/puhelinluettelo/.idea/workspace.xml
